* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo-div > img {
    max-width: 400px;
    height: 100px;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.1);
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 24%, rgba(178, 200, 236, 1) 98%);
}

li {
    display: block;
}

li > a {
    text-decoration: none;
    color: black;
}

nav > ul {
    display: flex;
    gap: 4em;
}

.login-btn {
    background: #FDC741;
    padding: 0.6em 1.6em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}