* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo-div > img {
    width: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}