* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo-div > img {
    max-width: 400px;
    height: 140px;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.1);
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 24%, rgba(178, 200, 236, 1) 98%);
    height: 100px;  
}

li {
    display: block;
}

li > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

nav > ul {
    display: flex;
    gap: 4em;
}

.login-btn {
    background: #FDC741;
    padding: 0.6em 1.6em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li > a:hover {
    border-bottom: 2px solid #0E6CC7;
    transition: 0.3s ease-in-out;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(135deg, #e0ecff 0%, #f4f8ff 50%, #ffffff 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrap img {
    width: 600px;
    margin-top: 1em;
}

.text-wrap h1 {
    width: 300px;
}

.text-wrap p {
    width: 310px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.text-wrap {
    color: #253B5E;
}

.text-wrap > a {
    background: #2F71D0;
    color: white;
    text-decoration: none;
    padding: 0.7em 2.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-wrap > a > i {
    margin-right: 0.2em;
}

.text-wrap > h1 {
    font-size: 2.5em;
}

.text-wrap > p {
    line-height: 1.5;
}
